<div class="card mt-4">
  <header class="card-header">
    <p class="card-header-title">Elige a tus espectadores privados</p>
  </header>
  <div class="card-content">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="Buscar" />
      </div>
    </div>
    <div class="content">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-32x32 mx-0">
              <img
                class="is-rounded"
                src="https://bulma.io/images/placeholders/128x128.png"
                alt="Image"
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <div class="level is-mobile">
                <div class="level-left">
                  <p>
                    <strong>@johnsmith</strong>
                  </p>
                </div>
                <div class="level-right">
                  <label class="checkbox control ">
                    <input type="checkbox" />
                  </label>
                </div>
              </div>
            </div>
            <nav class="level is-mobile">
              <div class="level-right">
                <a class="level-item" aria-label="reply"> </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
      <!-- DATOS DE PRUEBA DE LAYOUT -->
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-32x32 mx-0">
              <img
                class="is-rounded"
                src="https://bulma.io/images/placeholders/128x128.png"
                alt="Image"
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <div class="level is-mobile">
                <div class="level-left">
                  <p>
                    <strong>@johnsmith</strong>
                  </p>
                </div>
                <div class="level-right">
                  <label class="checkbox control ">
                    <input type="checkbox" />
                  </label>
                </div>
              </div>
            </div>
            <nav class="level is-mobile">
              <div class="level-right">
                <a class="level-item" aria-label="reply"> </a>
              </div>
            </nav>
          </div>
        </article>
      </div>

      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-32x32 mx-0">
              <img
                class="is-rounded"
                src="https://bulma.io/images/placeholders/128x128.png"
                alt="Image"
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <div class="level is-mobile">
                <div class="level-left">
                  <p>
                    <strong>@johnsmith</strong>
                  </p>
                </div>
                <div class="level-right">
                  <label class="checkbox control ">
                    <input type="checkbox" />
                  </label>
                </div>
              </div>
            </div>
            <nav class="level is-mobile">
              <div class="level-right">
                <a class="level-item" aria-label="reply"> </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
      <!-- DATOS DE PRUEBA DE LAYOUT -->
      <!-- Establecer una altura máxima con overflow hidden -->
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Cancelar</a>
    <a href="#" class="card-footer-item">Guardar</a>
  </footer>
</div>
