@import "../../../../../styles.scss";
@import "../../../home/components/publicacion/publicacion.component.scss";

.title {
  font-size: $h3;
}
.subtitle {
  font-size: $h6;
  font-weight: 500;
}

img {
  object-fit: unset;
}

@import "../../../../../../node_modules/bulma/sass/layout/hero.sass";
