<app-navbar></app-navbar>

<section class="content mt-navbar">
  <!-- Pequeño espacio de separación entre el navbar y el contenido -->
</section>

<div class="container">
  <main class="columns is-variable is-0-mobile is-3-tablet">
    <section class="column is-hidden-touch">
      <app-sidebar></app-sidebar>
    </section>

    <section class="column is-6">
      <app-publicacion></app-publicacion>
      <!--Para cargar todos los posts se usará el siguiente template-->
      <div *ngFor="let post of postsLoaded">
        <!-- Para que no esté dando error por mientras -->
        <!-- <app-publicacion [this]="post"></app-publicacion> -->
      </div>
    </section>

    <section class="column is-hidden-touch">
      <!-- Espacio negativo -->
    </section>
  </main>
</div>

<p>¡Hola, {{ user }}!, qué gusto tenerte en Artemis 😊</p>

<button class="button is-danger" (click)="logout()">Cerrar sesión</button>

<app-footer></app-footer>
