<div class="screen">
  <h1 class="title has-text-centered">Tus obras</h1>

  <div class="container">
    <div class="columns is-variable is-0-mobile">
      <div class="column is-hidden-desktop">
        ¿Te sientes con inspiración?
        <button class="button is-fullwidth is-accent">Crear obra</button>

        <hr />

        ¿Deseas organizar tu templo?
        <div class="buttons">
          <button class="button is-fullwidth is-primary">Crear carpeta</button>
          <button class="button is-fullwidth is-primary is-outlined">
            Borrar carpeta
          </button>
        </div>
      </div>
      <div class="column is-10">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1" [checked]="true"/>
            <label class="tab-label" for="chck1">Fólder 1</label>
            <div class="tab-content">
              <div class="tile is-ancestor">
                <div class="tile is-parent">
                  <div class="tile is-child">
                    <div class="obra">
                      <figure class="image is-square">
                        <img
                          src="https://bulma.io/images/placeholders/1280x960.png"
                          alt="Imagen obra"
                        />
                      </figure>
                      <div class="fondo-titulo">
                        <div class="level is-mobile">
                          <div class="level-left">
                            <span>Título de la obra</span>
                          </div>
                          <div class="level-right">
                            <span class="icon">
                              <i class="fas fa-wave-square"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tile is-vertical">
                  <div class="tile">
                    <div class="tile is-parent">
                      <div class="tile is-child">
                        <div class="obra">
                          <figure class="image is-square">
                            <img
                              src="https://bulma.io/images/placeholders/1280x960.png"
                              alt="Imagen obra"
                            />
                          </figure>
                          <div class="fondo-titulo">
                            <div class="level is-mobile">
                              <div class="level-left">
                                <span>Título de la obra muy largo</span>
                              </div>
                              <div class="level-right">
                                <span class="icon">
                                  <i class="fas fa-wave-square"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tile is-parent">
                      <div class="tile is-child">
                        <div class="obra">
                          <figure class="image is-square">
                            <img
                              src="https://bulma.io/images/placeholders/1280x960.png"
                              alt="Imagen obra"
                            />
                          </figure>
                          <div class="fondo-titulo">
                            <div class="level is-mobile">
                              <div class="level-left">
                                <span>Título de la obra</span>
                              </div>
                              <div class="level-right">
                                <span class="icon">
                                  <i class="fas fa-wave-square"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tile is-parent">
                    <div class="tile is-child">
                      <div class="obra">
                        <figure class="image is-2by1">
                          <img
                            src="https://bulma.io/images/placeholders/1280x960.png"
                            alt="Imagen obra"
                          />
                        </figure>
                        <div class="fondo-titulo">
                          <div class="level is-mobile">
                            <div class="level-left">
                              <span>Título de la obra</span>
                            </div>
                            <div class="level-right">
                              <span class="icon">
                                <i class="fas fa-wave-square"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck2" />
            <label class="tab-label" for="chck2">Fólder 2</label>
            <div class="tab-content">s</div>
          </div>
        </div>
      </div>
      <div class="column is-hidden-touch">
        ¿Te sientes con inspiración?
        <button class="button is-fullwidth is-accent">Crear obra</button>

        <hr />

        ¿Deseas organizar tu templo?
        <div class="buttons">
          <button class="button is-fullwidth is-primary">Crear carpeta</button>
          <button class="button is-fullwidth is-primary is-outlined">
            Borrar carpeta
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child">
      <div class="obra">
        <figure class="image is-square">
          <img
            src="https://bulma.io/images/placeholders/1280x960.png"
            alt="Imagen obra"
          />
        </figure>
        <div class="fondo-titulo">
          <div class="level is-mobile">
            <div class="level-left">
              <span>Título de la obra</span>
            </div>
            <div class="level-right">
              <span class="icon">
                <i class="fas fa-wave-square"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile is-vertical">
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child">
          <div class="obra">
            <figure class="image is-square">
              <img
                src="https://bulma.io/images/placeholders/1280x960.png"
                alt="Imagen obra"
              />
            </figure>
            <div class="fondo-titulo">
              <div class="level is-mobile">
                <div class="level-left">
                  <span>Título de la obra</span>
                </div>
                <div class="level-right">
                  <span class="icon">
                    <i class="fas fa-wave-square"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child">
          <div class="obra">
            <figure class="image is-square">
              <img
                src="https://bulma.io/images/placeholders/1280x960.png"
                alt="Imagen obra"
              />
            </figure>
            <div class="fondo-titulo">
              <div class="level is-mobile">
                <div class="level-left">
                  <span>Título de la obra</span>
                </div>
                <div class="level-right">
                  <span class="icon">
                    <i class="fas fa-wave-square"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child">
        <div class="obra">
          <figure class="image is-2by1">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Imagen obra"
            />
          </figure>
          <div class="fondo-titulo">
            <div class="level is-mobile">
              <div class="level-left">
                <span>Título de la obra</span>
              </div>
              <div class="level-right">
                <span class="icon">
                  <i class="fas fa-wave-square"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
