@import "../../../../../styles.scss";
@import "../lista-obras/lista-obras.component.scss";
@import "../../../create-opus/components/primera-version/primera-version.component.scss";
.obra {
  position: relative;

  .fondo-titulo {
    font-family: $family-secondary;
    font-size: $subtitle1;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 3.5rem;
    background-color: $text-light;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .level {
      width: 95%;
    }
  }
}

label.tab-label {
  padding: 1rem 0;
}

.level-left {
  max-width: 70%;
  overflow-x: hidden;
}

@import "../../../../../../node_modules/bulma/sass/grid/tiles.sass";
@import "~@creativebulma/bulma-collapsible";
