<div class="screen">
  <h1 class="title">Tus obras</h1>

  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box">d</div>
      </div>
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <div class="tile is-child box">a</div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child box">b</div>
          </div>
        </div>

        <div class="tile is-parent">
          <div class="tile is-child box">c</div>
        </div>
      </div>
    </div>
  </div>
</div>
