<nav class="ml-6 mt-4">
    <ul class="ml-6">
        <li class="ml-6">
            <a class="subtitle icon-text" href="">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
                <span class="ml-5">Inicio</span>
            </a>
        </li>
        <li class="ml-6 mt-5">
            <a class="subtitle icon-text" href="">
                <span class="icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="ml-5">Subir una obra</span>
            </a>
        </li>
    </ul>
</nav>