@import "../../../../../styles.scss";
$google: #db4a39;

.text-normal {
  color: $text-middle;
  font-size: $body1;
}

.is-network-button {
  font-size: $button;
  border-radius: 0;
}

.button {
  border: none;
  justify-content: space-between;
  text-transform: none;
  font-size: $body1;
  font-weight: 400;
  &:hover {
    border: $button-border-width outset $button-border-color;
  }
}

.is-network {
  color: $white;
  font-style: normal;
  font-size: $body1;
  text-align: left;
  // line-height: 2.5;
}

.is-google {
  background-color: $google;
}

.is-facebook {
  background-color: $facebook;
}
.is-google,
.is-facebook {
  width: 100%;
}
