<header class="columns m-1">
    <div class="column columns">
        <div class="column"></div>
        <div class="column">
            <figure>
                <img src="../../../../assets/isotipo.svg" alt="isotipo" class="image is-32x32">
            </figure>
        </div>
    </div>
    <div class="column"></div>
    <div class="column ">
        <form class="control is-pulled-right">
            <div class="field">
                <p class="control has-icons-right">
                    <input class="input is-small" type="text" placeholder="Buscar en Artemis">
                    <span class="icon is-small is-right">
                        <i class="fas fa-search"></i>
                    </span>
                </p>
            </div>
        </form>
    </div>
    <div class="column columns">
        <div class="column mt-1 ml-6">
            <a class="icon-link" href="">
                <span class="icon is-small">
                    <i class="fas fa-mug-hot fa-2x"></i>
                </span>
            </a>
        </div>
        <div class="column mt-2">
            <a class="icon-link" href="">
                <span class="icon is-small">
                    <i class="far fa-user fa-2x"></i>
                </span>
            </a>
        </div>
        <div class="column"></div>
    </div>
</header>