@import "../../../../../src/styles.scss";

.icon-link:hover {
  color: $purple;
}

.button {
  border-radius: $radius-rounded;
}

.navbar-item {
  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }
    &.is-active {
      .navbar-dropdown {
        display: block;
      }
    }
  }
}
