<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/home">
        <img src="../../../../assets/isotipo.svg" width="32" height="64" />
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="Opciones"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="Opciones" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field">
            <p class="control has-icons-right">
              <input
                class="input is-small"
                type="text"
                placeholder="Buscar en Artemis"
              />
              <span class="icon is-small is-right">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
        </div>

        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <button class="button is-accent is-outlined">
                <span class="icon">
                  <i class="fas fa-mug-hot"></i>
                </span>
              </button>
            </p>
            <p class="control">
              <button class="button is-link">
                <span class="icon">
                  <i class="fas fa-user"></i>
                </span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
