@import "src/styles.scss";

.has-background-light-medium {
  background: rgba(255, 255, 255, 0.5);
}

//Debido a que este gradiente solo se usará en la landing page, es lo mejor que se cree una clase para esta en los estilos locales
.has-background-primary {
  background: $gradient-primary;
}

.title {
  font-size: $h3;
  color: $white;
}
