<section class="hero is-medium is-light" id="features">
  <div class="hero-body pb-0">
    <div class="container">
      <div class="columns has-text-centered is-variable-desktop is-8">
        <div
          class="column is-flex is-flex-direction-column is-justify-content-center"
        >
          <div class="feat-icon"></div>
          <h3 class="subtitle">Feature 1</h3>
          <p class="content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum
            repellat adipisci culpa laboriosam molestiae id illo tenetur
            eligendi, ut quae.
          </p>
        </div>
        <div class="column">
          <div class="feat-icon"></div>
          <h3 class="subtitle">Feature 2</h3>
          <p class="content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum
            repellat adipisci culpa laboriosam molestiae id illo tenetur
            eligendi, ut quae.
          </p>
        </div>
        <div class="column">
          <div class="feat-icon"></div>
          <h3 class="subtitle">Feature 3</h3>
          <p class="content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum
            repellat adipisci culpa laboriosam molestiae id illo tenetur
            eligendi, ut quae.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-large is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4-desktop">
          <h1 class="title is-h4">Tu templo, tu arte</h1>
          <p class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis
            temporibus tempora asperiores deserunt architecto aliquid
            necessitatibus doloribus iusto molestias ad unde nemo dolore animi,
            provident explicabo! At quasi eum tempora?
          </p>
          <a class="link" href="#">Muéstrame más</a>
        </div>

        <div class="column is-3-desktop is-hidden-touch">
          <!-- Espacio negativo -->
        </div>

        <div class="column">
          <figure class="image">
            <img
              src="../../../../../assets/artist.svg"
              alt="Artista en templo"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
