<section class="container mx-5">
    <p class="text-normal">Inicia sesión desde</p>
    <div class="is-link mt-5">
        <div class="control">
            <a class="is-network-button">
                <div class="is-google">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                    <span class="is-network">Google</span>
                    </span> 
                </div>            
            </a>
        </div>
        <div class="control">
            <a class="is-network-button">
                <div class="is-facebook">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fab fa-facebook"></i>
                        </span>
                        <span class="is-network">Facebook</span>
                    </span>
                </div>
            </a>
        </div>
    </div>
</section>