<section class="container mx-5">
  <p class="text-normal">Inicia sesión desde</p>

  <div class="is-link mt-5">
    <div class="columns">
      <div class="column mx-3-mobile">
        <div class="control">
          <a class="button is-google">
            <div class="">
              <span class="icon-text">
                <span class="icon is-large has-text-light">
                  <i class="fab fa-google fa-lg"></i>
                </span>
                <span class="is-network">Google</span>
              </span>
            </div>
          </a>
        </div>

        <div class="control">
          <a class="button is-facebook">
            <div class="">
              <span class="icon-text">
                <span class="icon is-large has-text-light">
                  <i class="fab fa-facebook-f fa-lg"></i>
                </span>
                <span class="is-network">Facebook</span>
              </span>
            </div>
          </a>
        </div>
      </div>
      <div class="column is-hidden-touch"></div>
    </div>
  </div>
</section>
