<form class="control" [formGroup]="registerForm">
  <div class="field">
    <input
      class="input"
      type="email"
      placeholder="Tu correo electrónico"
      formControlName="email"
      ngModel
    />
    <div *ngIf="f.email.errors" class="help is-danger">
      <div *ngIf="f.email.errors.required">correo requerido</div>
    </div>
  </div>
  <div class="field">
    <input
      class="input"
      type="password"
      placeholder="Tu contraseña"
      formControlName="password"
      ngModel
    />
    <div *ngIf="f.password.errors" class="help is-danger">
      <div *ngIf="f.password.errors.required">contraseña requerida</div>
    </div>
  </div>
  <div class="field is-grouped">
    <button class="button is-primary" [disabled]="loading">
      ¡ÚNETE A ARTEMIS!
    </button>
  </div>
  <div class="is-link">
    <a href="">O inicia sesión</a>
  </div>
</form>

<hr />

<div class="is-link">
  <a href="">Únete a través de</a>
  <div class="field has-addons">
    <p class="control">
      <a class="button is-primary"> Google </a>
    </p>
    <p class="control">
      <a class="button is-info"> Facebook </a>
    </p>
  </div>
</div>
