<div class="container mx-5">
    <div class="subtitle">
        Comentarios
    </div>
    <article class="media">
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <textarea class="textarea" placeholder="¿Qué te pareció la obra?" rows="3"></textarea>
                </p>
            </div>
        </div>
    </article>
    <article class="media">
        <div class="media-content">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-48x48">
                        <img src="https://bulma.io/images/placeholders/96x96.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content ml-3">
                        <p>
                            <strong>Artista</strong>
                            <br>
                            Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique
                            senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a
                            lobortis leo feugiat.
                            <br>
                            <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                        </p>
                    </div>
                </div>
            </article>
    
            <article class="media">
                <figure class="media-left">
                    <p class="image is-48x48">
                        <img src="https://bulma.io/images/placeholders/96x96.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content ml-3">
                        <p>
                            <strong>Artista </strong>
                            <br>
                            Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet
                            magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci
                            luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                            <br>
                            <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </article>    
</div>
