<footer class="footer is-fixed-bottom">
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column"><a href="">Acerca de</a></div>
      <div class="column"><a href="">Centro de ayuda</a></div>
      <div class="column"><a href="">Blog</a></div>
      <div class="column"><a href="">Estatus</a></div>
      <div class="column"><a href="">Trabaja en Artemis</a></div>
      <div class="column"><a href="">Política de privacidad</a></div>
      <div class="column"><a href="">Cookies</a></div>
      <div class="column"><a href="">&trade; {{ year }} Artemis</a></div>
    </div>
  </div>
</footer>
