<div class="container is-pulled-right">
    <div class="mr-6">
        <div class="">
            <div class="icon-text is-pulled-right">
                <div class="icon is-medium">
                    <i class="far fa-thumbs-up fa-2x"></i>
                </div>
                <div class="">{{likes}}</div>
            </div>
        </div><br><br>
        <div class="mt-5">
            <div class="icon-text is-pulled-right">
                <div class="icon is-medium">
                    <i class="far fa-thumbs-down fa-2x"></i>
                </div>
                <div class="">{{dislikes}}</div>
            </div>
        </div><br><br>
        <div class="mt-5">
            <div class="icon-text is-pulled-right ">
                <div class="icon is-medium">
                    <i class="far fa-comment fa-2x"></i>
                </div>
                <div class="">{{comentarios}}</div>
            </div>
        </div><br><br>
        <div *ngIf="ownPost" class="mt-6">
            <app-mapa-versiones></app-mapa-versiones>
        </div>
    </div>
</div>