<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="../../../../../assets/logotipo.svg" width="112" height="28" />
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item mr-5"> Inicio </a>

        <a class="navbar-item mr-5"> Características </a>

        <a class="navbar-item mr-5"> Tu templo </a>

        <a href="" class="navbar-item">Únete</a>
      </div>
    </div>
  </div>
</nav>
