<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="chck1" [checked]="true"/>
    <label class="tab-label" for="chck1">Fólder 1</label>
    <div class="tab-content">
      <a href="">
        <div class="box">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <p>
                  <strong class="title">John Smith</strong> <br />
                  <small class="is-body-2">dd/mm/aaaa</small>
                  <br />
                  <small class="is-subtitle-2">#tag #tag #tag</small>
                  <br />
                </p>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <div class="columns is-multiline is-gapless has-text-right">
                  <div class="column">
                    <span class="icon-text">
                      <span>11.0k</span>
                      <span class="icon">
                        <i class="fas fa-thumbs-up"></i>
                      </span>
                    </span>
                  </div>
                  <div class="column">
                    <span class="icon-text">
                      <span>113</span>
                      <span class="icon">
                        <i class="fas fa-thumbs-down"></i>
                      </span>
                    </span>
                  </div>
                  <div class="column is-full">
                    <span class="icon-text">
                      <span>2</span>
                      <span class="icon">
                        <i class="fas fa-comments"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="tab">
    <input type="checkbox" id="chck2"/>
    <label class="tab-label" for="chck2">Fólder 2</label>
    <div class="tab-content">
      <a href="">
        <div class="box">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <p>
                  <strong class="title">John Smith</strong> <br />
                  <small class="is-body-2">dd/mm/aaaa</small>
                  <br />
                  <small class="is-subtitle-2">#tag #tag #tag</small>
                  <br />
                </p>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <div class="columns is-multiline is-gapless has-text-right">
                  <div class="column">
                    <span class="icon-text">
                      <span>[likes]</span>
                      <span class="icon">
                        <i class="fas fa-thumbs-up"></i>
                      </span>
                    </span>
                  </div>
                  <div class="column">
                    <span class="icon-text">
                      <span>[dislikes]</span>
                      <span class="icon">
                        <i class="fas fa-thumbs-down"></i>
                      </span>
                    </span>
                  </div>
                  <div class="column is-full">
                    <span class="icon-text">
                      <span>[comments]</span>
                      <span class="icon">
                        <i class="fas fa-comments"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- <ul class="lista-obras">
    <li class="lista">
        <a href="#">Fólder 1</a>
        <ul class="obras">
            <li>
                <a href="#">Aquí va la obra</a>
            </li>
        </ul>
    </li>
</ul> -->
