<section class="hero is-fullheight is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">Crear obra</h1>
      <h2 class="subtitle has-text-centered mb-4">
        ¿Tienes una obra ya completada?
      </h2>
      <div class="content">
        <div class="field is-grouped mt-6">
          <p class="control">
            <button
              class="button is-link is-medium"
              routerLink="../subir-archivo"
            >
              Subir obra
            </button>
          </p>
          <p class="control">
            <button class="button is-accent is-outlined is-medium">
              Crear obra
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
